{% extends "base.html.twig" %}

{% block title %}Your CD Collection{% endblock %}
{% block content %}
    <ul>
        {% for artist in cds|keys %}
        <li>{{ artist }}
            <select>
                {% for cd in cds[artist] %}
                <option>{{ cd.title }}</option>
                {% endfor %}
            </select>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
