{% extends "base.html.twig" %}

{% block title %}Your CD Collection{% endblock %}
{% block content %}
    <ul>
        {% for artist in cds|keys %}
        <li>{{ artist }}
            <ul>
                {% for cd in cds[artist] %}
                <li>{{ cd.title }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
