{% extends "base.html.twig" %}

{% block title %}Your CD Collection{% endblock %}
{% block content %}
    <ul>
        {% for cd in cds %}
        <li>{{ cd.artist }}
            <ul>
                <li>{{ cd.title }}</li>
            </ul>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
